<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Lowell Civil War Database</title>

	<link rel="stylesheet" href="lcwdb.css" type="text/css" />
	<link rel="stylesheet" href="css/custom-theme/jquery-ui-1.10.3.custom.css" />
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/jquery-ui-1.10.3.custom.js"></script>
</head>
<body>
	<div id="mainBody">
		<div th:replace="header :: header"></div>
		
		<div class="error">
			<h2>A server error has occurred.</h2>
			<p>We apologize for the inconvenience; our administrators have been notified.</p>
			<a href="./" onClick="history.back()">Go back</a>
		</div>
	
		<div th:replace="footer :: footer" ></div>

	</div>

</body>
</html>
