<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Lowell Civil War Database</title>

<link rel="stylesheet" href="lcwdb.css" type="text/css" />
<link rel="stylesheet"
	href="css/custom-theme/jquery-ui-1.10.3.custom.min.css" />
<script src="js/jquery-1.9.1.js"></script>
<script src="js/jquery-ui-1.10.3.custom.min.js"></script>

<script>
	$(function() {
		$("#tabs").tabs();
	});
</script>
</head>
<body>
	<div id="mainBody">
		<div th:replace="header :: header"></div>
		<div id="tabs">
			<ul>
				<li><a href="#byName">Name</a></li>
				<li><a href="#byUnit">Unit</a></li>
			</ul>
			<div id="byName">
				<form action="#" th:action="@{/queryByName}" method="POST" th:object="${queryByName}" id="queryForm">
					<fieldset>
						<p class="queryHelp">Use '%' for wildcard matching</p>
						<label for="firstName">First name:</label>
						<input type="text" id="firstName" th:field="*{firstName}" />
						<br />
						<label for="lastName">Last name:</label>
						<input type="text" id="lastName" th:field="*{lastName}" />
						<br />
					</fieldset>
					<br />
					<fieldset>
						<label for="cemeteryNames">Cemetery Name</label>
						<select id="cemeteryNames" th:field="*{cemeteryId}">
						  <option th:each="cemetery : ${cemeteries}" th:value="${cemetery.id}" th:text="${cemetery.name}">.</option>
						</select>
						<br />
						<label for="fiveHundredClub">500 Club (War Casualty)</label>
						<input id="fiveHundredClub" type="checkbox" th:field="*{fiveHundredClub}" />
					</fieldset>
					<br />
					<fieldset>
						<p class="queryHelp">Enter dates in YYYY-MM-DD format</p>
						<label for="startDeathDateI">Died after</label>
						<input type="text" id="startDeathDateI" th:field="*{startDeathDate}" th:errorclass="queryError"/>
						<br />
						<label for="endDeathDateI">Died before</label>
						<input type="text" id="endDeathDateI" th:field="*{endDeathDate}" th:errorclass="queryError"/>
					</fieldset>
					<br />
					<fieldset>
						<label for="sortBy">Sort By</label>
						<select id="sortBy" th:field="*{sortBy}">
							<option th:each="sortTypeStr : ${sortBy}" th:value="${sortTypeStr.sortType}" th:text="${sortTypeStr.sortType}">.</option>
						</select>
						<br />
					</fieldset>
					<br />
					<input type="submit" value="Submit" />
				</form>
				<div id="results">
					<div id="resultsInfo" th:if="${queryByNameResults}">

						<p th:if="${not queryByNameResults.truncated}" th:inline="text">Returned [[${#lists.size(queryByNameResults.results)}]] records</p>
						<p th:if="${queryByNameResults.truncated}" th:inline="text" class="warn">Returned too many records. Displaying first [[${#lists.size(queryByNameResults.results)}]]. Please restrict your query.</p>
					
						<table id="resultsTable">
							<tr>
								<th>Last Name</th>
								<th>First Name</th>
								<th title="Middle Initial">M.</th>
								<th title="Suffix">S.</th>
								<th>Cemetery</th>
								<th>Died</th>
								<th title="War Casualty">500 Club</th>
								<th>Details</th>
							</tr>
							<tr th:each="result : ${queryByNameResults.results}">
								<td th:text="${result.lastName}"></td>
								<td th:text="${result.firstName}"></td>
								<td th:text="${result.middleInitial}"></td>
								<td th:text="${result.suffix}"></td>
								<td th:text="${result.cemeteryName}"></td>
								<td th:text="${result.dateOfDeath}"></td>
								<td th:text="${result.killedInAction ? '*' : '' }"></td>
								<td><a th:href="@{/soldier(id=${result.id})}" href="/soldier?id=">Details</a></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div id="byUnit">Lorem ipsum dolor sit amet, consectetuer
				adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
				dolore magna aliquam erat volutpat.</div>
		</div>
		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>
